<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head ('Dice Roll')"></head>
<body>
    <h1>Guess the number</h1>
    <h2>Guess number from 1 - 6</h2>
    <ul>
        <li><a href="/roll-dice/1">Choose 1</a></li>
        <li><a href="/roll-dice/2">Choose 2</a></li>
        <li><a href="/roll-dice/3">Choose 3</a></li>
        <li><a href="/roll-dice/4">Choose 4</a></li>
        <li><a href="/roll-dice/5">This is 5</a></li>
        <li><a href="/roll-dice/6">This is 6</a></li>
    </ul>

    <div th:if="${number != null}">
        <p>You picked <span th:text="${number}"></span> and the random number is <span th:text="${random}"></span></p>
        <p th:text="${message}"></p>
    </div>


</body>
</html>