<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="partials/partials.html :: head ('Profile')" ></head>
<body>
    <ul th:replace="partials/partials.html :: navbar"></ul>
    <div sec:authorize="isAuthenticated()">
        This content is only shown to authenticated users.
        User ID: <span th:text="${#authentication.principal.id}"></span>
        Email: <span th:text="${#authentication.principal.email}"></span>

        <h1><span th:text="${#authentication.principal.username}"></span></h1>
        <img th:src="@{${#authentication.principal.img}}"/>

    </div>
</body>
</html>